body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;  /* 100% Font Size = 16px. Equivalent of 90px Font Size in % = (90/16)*100% = 562.5 */
  /* line-height: 2; */
  margin: 50px auto 0 auto;
  /* 1em = 16px = 100%. 90px = 5.625em
  rem = root em */
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.50rem;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: 0;
  width: 10%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
/*
.bio{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 2.50rem;
}
*/
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bot-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

/************* MIDDLE CONTAINER **************/
.middle-container{
  margin: 100px 0;
}

.mid-anchor{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.mid-anchor:hover{
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.my-pic{
  width: 25%;
}

.intro{
  width: 40%;
  margin: auto;
}

.slot{
  padding-top: 1px;
  padding-bottom: 1px;
}

.slot:hover{
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #EAF6F6;
}

.skill-row{
  margin: 150px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.edu-img{
  float: left;
  width: 25%;
  margin-right: 30px;
}

.work-img{
  float: right;
  width: 25%;
  margin-left: 30px;
}

.res-img{
  float: left;
  width: 25%;
  margin-right: 30px;
}

.comp-img{
  float: right;
  width: 25%;
  margin-left: 30px;
}

.proj-img{
  float: left;
  width: 25%;
  margin-right: 30px;
}

.contact-message{
  width: 30%;
  margin: 40px auto 60px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/
