/* Defaults */
body{
    margin: 0 0;
}

*{
    scroll-behavior: smooth !important;
}

/* Frequently used Things */

/* Fonts */
/* font-family: 'Allerta Stencil', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif; */


/* Site Title */
header{
    margin: 0 40px;
}

h4 {
    font-family: 'Lobster';
    font-size: 1.5rem;
    color: #2c3e50;
    display: inline-block;
    transition: letter-spacing 3s;
    margin: 20px;
    padding: 4px;
    padding-left: 20px;
    float: left;

}
h4:hover {
    color: #66BFBF;
    letter-spacing: 2px;
}

/* Navigation Bar */
nav{
    font-family: 'Lobster';
    display: inline-block;
    font-size: 1.25rem;
    padding-right: 20px;
    background-color: white;
}

nav [href]{
    color: #2c3e50;
    padding: 21.28px 0;
    text-decoration: none;
    float: right;
    border-top: 4px solid white;
    transition: all 0.4s;
    scroll-behavior: smooth;
}

nav [href]:hover{
    color: white;
    border-radius: 3px;
    background-color: #2c3e50;
    border-top: 4px solid #16a085;
    padding: 21.28px 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: #66BFBF;
}

.navbar-light .navbar-nav .nav-link {
    color: #66BFBF;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.nav-link{
    color: white;
}

#home{
    margin: 0 0;
    padding: 7rem 3rem;
    background-color: #E4F9F5;
    height: 800px;
}

.intro{
    padding-top: 25px;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    color: #66BFBF;
}

.summ{
    font-family: 'Montserrat';
    color: #334756;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 1rem;
    width: 100%;
}

.introPara{
    font-family: 'Montserrat';
    line-height: 1.5;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    font-size: 0.9rem;
}

.home-text{
    text-align: center;
    display: inline;
    width: 100%;
}

.my-img{
    vertical-align: middle;
    width: 250px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#new-goals{
    text-align: center;
    padding: 50px 3rem;
    background-color: white;
}

section h2{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    color: #66BFBF;
    padding-bottom: 50px;
}

article img{
    width: 15rem;
    padding: 50px;
    float: left;
}

.goal-text{
    color: #334756;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-right: 80px;
    text-align: justify;
    font-family: 'Montserrat';
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 450;
}

div h3{
    margin-top: 0;
}

.explore{
    text-decoration: none;
    color: #66BFBF;
    display: inline-block;
    padding: 10px;
    border: 1px solid #66BFBF;
    transition: background-color .3s;
    font-weight: 700;
    border-radius: 5px;
}

.explore:hover{
    background-color: #66BFBF;
    color: white;
}


/* Projects */
#projects{
    text-align: center;
    background-color: #E4F9F5;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Montserrat';
}

.project-link{
    text-decoration: none;
    color: #334756;
    display: inline-block;
    padding: 10px;
    border: 1px solid #334756;
    transition: background-color .3s;
    font-weight: 700;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

.project-link:hover{
    background-color: #334756;
    color: white;
    text-decoration: none;
}

#flutter-dev-title{
    padding-bottom: 20px;
    color: #334756;
    font-size: 40px;
    font-weight: 900;
}

#web-dev-title{
    padding-bottom: 20px;
    color: #334756;
    font-size: 40px;
    font-weight: 900;
}

.dev-list{
    padding-bottom: 50px;
}

/* Research */
#research-sec{
    background-color: #E4F9F5;
}

#research-sec h4{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    color: #334756;
}

.res-top{
    margin-bottom: 2%;
    padding-bottom: 10px;
  }
  
.research{
    text-align: left;
    padding: 3rem 3rem;
    
  }
  
.paper-tab{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 5%;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 5%;
  }
  
  .abs{
    width: 100%;
    padding-bottom: 2px;
    text-align: justify;
  }
  
  .paper-anchor {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    margin-left: 0;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .paper-anchor:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    margin-left: 0;
  }

/* Education */
#education{
    font-family: 'Montserrat';
    line-height: 1.5;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}

#education h4{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    color: #334756;
}

.edu{
    text-align: left;
    padding-bottom: 2%;
    padding-left: 3rem;
    padding-right: 3rem;
}

.edu-body{
    font-family: 'Montserrat', sans-serif;
}

.bsc-thesis{
    text-align: center;
}

b{
    color: #334756;
}

#education h3{
    color: #334756;
}

#education a{
    text-decoration: none;
    color: #334756;
}

/* Work Experiences */
#work-experience h2{
    padding-top: 50px;
}

#work-experience{
    font-family: 'Montserrat';
    line-height: 1.5;
    background-color: white;
    padding-bottom: 2%;
    padding-left: 3rem;
    padding-right: 3rem;
}

#work-experience h4{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    color: #334756;
}

#work-experience h5{
    font-size: 25px;
    text-align: left;
    color: #334756;
    margin: 0 0;
    font-weight: 500;
}

#work-experience h6{
    font-size: 1.2rem;
    color: #334756;
    margin: 15px 0;
    font-weight: 400;
}

#work-experience ul{
    line-height: 2;
}


/* Contact */
#contact{
    padding-bottom: 20px;
    background-color: #E4F9F5;
    padding-bottom: 50px;
}

#contact h2{
    padding: 50px 2rem;
}

.contact-table{
    text-align: left;
  }

  .middle-container-contact-me{
    margin: 5% 10%;
  }

  body{
    background-color: white;
  }

  .mess-btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-width: 0 0 0 0;
    text-decoration: none;
  }

  .mess-btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .mess-label{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    padding-right: 20px;
  }

#contact form{
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

/* Footer */
#footer{
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: #11999E;
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer i{
    color: white;
    font-size: 2rem;
    padding: 10px 10px;
}
footer i:hover{
    color: #334756;
    font-size: 2rem;
    padding: 10px 10px;
}
