.res-top{
  margin-bottom: 0;
  padding-bottom: 0;
}

.top-container{
  text-align: left;
}

#res-ol{
  margin-top: 0;
}

.paper{
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;

  text-align: justify;
  line-height: 1.5;
}

.paper-tab{
  padding-top: 25px;
  padding-bottom: 25   px;
}

.abs{
  width: 75%;
}

.p-num{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.paper-anchor {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  margin-left: 0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.paper-anchor:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  margin-left: 0;
}
